body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.welcome-message {
    position: absolute;
    top: 20px; 
    font-size: 24px;
    color: #fff;
    text-align: center; 
    width: 100%;
}

.login-cont {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center; 
    position: relative;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%; 
    float: left; 
}

.tab button:hover {
    background-color: #add8e6; 
}

.tab button.active {
    background-color: #4682b4; 
    color: #fff; 
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    clear: both; 
}

#Login {
    display: block;
}

.input-group {
    margin-bottom: 15px;
    text-align: left; 
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginButton{
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

#loginResult {
    text-align: center;
    color: #ff0000;
}

.err-message {
    color: red;
    text-align: center;
    margin-top: 15px;
}
